<!DOCTYPE html>
<html>
{{template "head"}}
{{$id := randID}}
<body>
  {{template "navbar" .}}

  {{if not .}}
    {{template "hero" "Gone!|Customer, is history"}}
  {{else}}
    <div
      id="hero-{{$id}}"
      onclick="editMode()"
      style="cursor: pointer;">

      {{template "hero" concat .Name .Email}}
      <div class="has-text-centered">
        <span class="tag is-info">Tap to edit</span>
      </div>
    </div>
    <div id="edit-{{$id}}" style="display: none">
      <section class="section">
        <div class="content">
          {{template "form-new" .}}
        </div>
      </section>
    </div>

    <section class="section">
      <div class="block">
        <label class="label">Notes on this..</label>
        <textarea
          class="textarea"
          id="note-{{$id}}"
          placeholder="Useful stuff">{{.Note}}</textarea>
      </div>

      <div class="content">
        <div class="buttons">
          <button
            class="button is-success"
            onclick="save()">
            Save
          </button>
          <button
            class="button is-danger"
            onclick="del()">
            Delete
          </button>
          </div>
      </div>
    </section>

  {{end}}

  <script>
    window.del = function () {
      if (!window.confirm(
        'Are you sure you want to remove the user: "{{.Name}}"?')) {
        return
      }
      console.log('Removing user...')

      fetch('', {
        method: 'DELETE'
      }).then(() => {
        window.location.href = '?delete=true'
      })
    }

    window.save = function () {
      fetch('', {
        method: 'PATCH',
        body: JSON.stringify({
          note: document.querySelector('#note-{{$id}}').value
        })
      }).then(() => {
        window.location.href = '?updated=true'
      })
    }

    window.editMode = function () {
      document.querySelector('#hero-{{$id}}').style.display = 'none'
      document.querySelector('#edit-{{$id}}').style.display = 'block'
    }
  </script>
</body>
</html>
