<!DOCTYPE html>
<html>
{{template "head"}}
<body>
  {{template "navbar" .}}
  {{template "hero" "Customers|Not everyone, indeed"}}

  <div class="box">
    <div class="content">
      {{range .}}
        {{template "customer" .}}
      {{else}}
        <div class="has-text-centered">
          {{template "btn-new-customer"}}
        </div>
      {{end}}
    </div>
  </div>
</body>
</html>
