<!DOCTYPE html>
<html>
{{template "head"}}
<body>
  {{template "navbar" .}}
  {{template "hero" "New customer|This one is special, please, tell me more"}}

  <section class="section">
    <div class="content">
      {{template "form-new" .}}
    </div>
  </section>
</body>
</html>
