{{define "customer"}}
<div class="card">
  <div class="card-content">
    <p class="title">{{.Name}}</p>
    <p class="subtitle">{{.Email}}</p>
  </div>
  <footer class="card-footer">
    <a
      class="card-footer-item"
      target="_blank"
      href="mailto:{{.Email}}">Send E-Mail</a>
    <a
      class="card-footer-item"
      href="/c/{{.UUID}}">View more</a>
  </footer>
</div>
{{end}}
