{{define "hero"}}
{{$hero := . | toHero}}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{$hero.Title}}</h1>
      <h2 class="subtitle">{{$hero.Subtitle}}</h2>
    </div>
  </div>
</section>
{{end}}
