<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "navbar" .}}
{{template "hero" "SeeRM|A delightful CRM experience"}}

<section class="section">
  {{template "menu" .}}

{{if .SearchTerm}}
  {{$l := len .SearchRes}}
  <div class="has-text-centered">
    <strong>
      Found {{$l}} customer{{if ne $l 1}}s{{end}}
    </strong>
  </div>
  {{range .SearchRes}}
    {{template "customer" .}}
  {{end}}
{{else}}
  <div class="has-text-centered">
    <a href="/c">
      <strong>{{.Count}}</strong> customer{{if ne .Count 1}}s{{end}}.
    </a>
  </div>
{{end}}
</section>

{{template "footer"}}
</body>
</html>
