<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "navbar" .}}
{{template "hero" "SeeRM|A delightful CRM experience"}}

<section class="section">
  {{template "menu" .}}

{{if .SearchTerm}}
  <div class="has-text-centered">
    <strong>Found {{len .SearchRes}} customer/s</strong>
  </div>
  {{range .SearchRes}}
    {{template "customer" .}}
  {{end}}
{{else}}
  <div class="has-text-centered">
    <a href="/c">
      <strong>{{.Count}}</strong> customer/s.
    </a>
  </div>
{{end}}
</section>

{{template "footer"}}
</body>
</html>
